* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: .5rem;
    height: 100vh;
}

#logo {
    text-align: center;
    margin-bottom: 1rem;
}

#sidebar {
    display: flex;
    flex-direction: column;
    padding-right: .5rem;
    border-right: 1px dotted black;
}

.drop-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .2rem 0rem;
}

.drop-content {
    display: flex;
    flex-direction: column;
}

.tab-btn {
    padding: .5rem 0;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
}

/* no touchie! */

.tab-content {
    display: none;
}

.list-info {
    border-bottom: 1px dotted black;
}

.tab-header {
    text-align: center;
    position: relative;
}

.tab-header h1 {
    border-radius: 0px 5px 5px 0px;
    padding: 5px;
}

#headerR {
    position: absolute;
    top: 0;
    right: 0;
}

#removeBtn {
    padding: 2px;
}

#priority {
    display: flex;
    padding-left: 2%;
    margin-top: 10px;
}

#priority input {
    margin-left: 5px;
}

#date {
    margin: 10px 0px;
    padding-left: 2%;
}

#notebook {
    margin-bottom: 10px;
    padding: 0 2% 0 2%;
}

#notebookLabel {
    display: block;
}

textarea {
    width: 100%;
    padding: 2px 2px 2px 5px;
    resize: vertical;
}

#add {
    padding-left: 2%;
}

.add-input {
    width: 45%;
    margin: 5px 5px 5px 0px;
    padding: 2px 2px 2px 5px;
}

.add-btn {
    padding: 2px;
}

.list-ul li {
    margin-top: 10px;
    position: relative;
    border-radius: 5px;
    list-style: none;
    padding: 3px 0px 3px 5px;
}

li input {
    margin-right: 10px;
}

input:checked+span {
    color: #777;
    text-decoration: line-through;
}

.close {
    position: absolute;
    right: 0;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* event-triggered classes */

.important {
    background-color: rgb(255, 0, 0, 0.4);
}

.active {
    background-color: rgb(0, 75, 125, 0.2);
}

.important.active {
    background-image: linear-gradient(to right, rgb(0, 75, 125, 0.2) 85%, rgb(255, 0, 0, 0.4) 15%); 
}

.hover {
    background-color: rgb(0, 75, 125, 0.2);
}